* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF4111;
    --secondary-color: #2C3E50;
    --accent-color: #3498DB;
    --text-color: #2C3E50;
    --light-gray: #F8F9FA;
    --border-color: #E9ECEF;
    --white-color: #FFFFFF;
    --hover-btn: rgba(255, 255, 255, 0.1);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--light-gray);
    line-height: 1.6; /* altura de linha */
}

h1 {
    color: var(--text-color);
    font-size: 32px;
    font-weight: bold;
}
span {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: bold;
 }

header {
    background-color: var(--white-color) ;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.fa-bolt {
    color: var(--primary-color);
    font-size: 32px;
}

.container-busca {
    width: 100%;
    max-width: 500px;
    margin: 0 32px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--light-gray);
    border-radius: 24px;
}

.container-busca input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--light-gray);
    padding: 8px;
    font-size: 16px;
}

.fa-magnifying-glass {
    color: var(--primary-color);
}

.container-categorias {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.container-categorias nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width:100%;
    max-width: 1200px;
    padding: 8px 32px;
}

.botao-categorias {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 24px;
    color: var(--white-color);
    background: none;
    padding: 12px 24px;
    cursor: pointer;
}

.botao-categorias :hover {
    
}











